<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/chatbot.css">
  <title>Chatbot</title>
</head>

<body>
  <br>
  <div class="chatbot-playlist-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <span>Chatbot</span>
          </div>
          <div class="chat-container">
            {% for chat in chat_history %}
            <div class="card-body chat-care">
              <ul class="chat">
                <div>
                  <li class="single-convo">
                  <li class="admin clearfix">
                    <div class="chat-body clearfix">
                      <p>
                        {{ chat["res"] }}
                      </p>
                    </div>
                    <li class="agent clearfix">
                      <div class="chat-body clearfix">
                        <p>
                          {{ chat["req"] }}
                        </p>
                      </div>
                    </li>
                  </li>
                  </li>
              </ul>
            </div>
            {% endfor %}
          </div>

          <form class="chat-input" action="/chatbot" method="POST">
            <div class="card-footer">
              <div class="input-group">
                <input id="btn-input" name="message" type="text" class="form-control input-sm"
                  placeholder="Type your message here..." />
                <span class="input-group-btn">
                  <input type="submit" class="btn btn-primary" id="btn-chat" value="Send">

                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2>Recommendations</h2>
    <!-- {{ suggestion_list }} -->
    {% for track in suggestion_list %}
    <div class="track">
      <!-- <p>{{track}}</p> -->
        <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/track/{{ track.id }}?utm_source=generator" width="100%"
            height="152" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"></iframe>
    </div>
    {% endfor %}
  </div>
</div>
</body>

</html>